employeeschemadtd.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2024 (x64) (http://www.altova.com) -->
<!ELEMENT emp (name, phones, addresses, email)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone type (emgc | home | work) #REQUIRED >
<!ELEMENT phones (phone+)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT address (street, building_number, region, city, country)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT Employees (emp+)>
<!ATTLIST Employees
	xsi:noNamespaceSchemaLocation CDATA #FIXED "file:///E:/iti/xml/formInXml/employeeschema.xsd"
	xmlns:xsi CDATA #FIXED "http://www.w3.org/2001/XMLSchema-instance"
>
<!ELEMENT addresses (address)>
<!ELEMENT building_number (#PCDATA)>
