libraryschema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2024 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="isbn"/>
				<xs:element ref="author"/>
				<xs:element ref="preface"/>
				<xs:element ref="parts"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="books">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chapter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="summary"/>
				<xs:element ref="sections"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="chapters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="chapter" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="isbn">
		<xs:simpleType>
			<xs:restriction base="xs:long">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="librarian">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="location"/>
				<xs:element ref="description"/>
				<xs:element ref="librarian"/>
				<xs:element ref="books"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="chapters"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="preface">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="section">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="section" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="summary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
